@model WebNotesDataBase.ViewModels.EditUserViewModel

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
<div class="form-horizontal">
    <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserId)

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label col-md-2" })

        <div>
            <div class="row">
                <div class="g_auth" style="margin-left: 20%; max-width: 100%;">
                    <div class="row">
                        <div class="auth-left-block">
                            <div class="desk-block">
                                <table class="desk">
                                    <tbody>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="auth-right-block">
                            <div class="horsig"><img id="sigil_O" class="sigil" src="~/Content/Tetris_O.svg" state="O" /></div>
                            <div class="horsig"><img id="sigil_S" class="sigil" src="~/Content/Tetris_S.svg" state="S" /></div>
                            <div class="horsig"><img id="sigil_Z" class="sigil" src="~/Content/Tetris_Z.svg" state="Z" /></div>
                            <div class="horsig"><img id="sigil_L" class="sigil" src="~/Content/Tetris_L.svg" state="L" /></div>
                            <div class="horsig"><img id="sigil_J" class="sigil" src="~/Content/Tetris_J.svg" state="J" /></div>
                            <div class="horsig"><img id="sigil_T" class="sigil" src="~/Content/Tetris_T.svg" state="T" /></div>
                            <div class="horsig"><img id="sigil_I" class="sigil" src="~/Content/Tetris_I.svg" state="I" /></div>
                            <div class="trash horsig" style="border-radius: 10px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Pass, htmlAttributes: new { @class = "form-control", @style = "display:none;", @rows = 5, @cols = 60, id = "print_hash" })
                            @*@Html.PasswordFor(model => model.Pass, htmlAttributes: new { @class = "form-control", id="print_hash" })*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    }
    <div>
        @Html.ActionLink("Back to List", "../Notes/Index", null, new { @class = "btn btn-info" })
    </div>
@Scripts.Render("~/bundles/jqueryval")

