@model WebNotesDataBase.ViewModels.IndexNoteViewModel

<div>
    <br />
    <div style="margin-bottom: 5%;">
        <ul id="menu">
            <li style="float:left;"><a><span>Note details</span></a></li>
        </ul>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="indexelements">
            @Html.DisplayNameFor(model => model.Created_Edited)
        </dt>

        <dd class="indexelements">
            @Html.DisplayFor(model => model.Created_Edited)
        </dd>

        <dt class="indexelements">
            @Html.DisplayNameFor(model => model.NameAuthor)
        </dt>

        <dd class="indexelements">
            @Html.DisplayFor(model => model.NameAuthor)
        </dd>

        <dt class="indexelements">
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd class="indexelements">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class="indexelements">
            <br />
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            <br />
            @Html.Raw(Model.Body)
        </dd>

    </dl>
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.NoteId }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.NoteId }, new { @class = "btn btn-danger" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </p>

