@model PagedList.IPagedList<WebNotesDataBase.ViewModels.IndexNoteViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">
<br />
    <div style="margin-bottom: 5%;">
        <ul id="menu">
            <li style="float:left;"><a><span>The list of a Notes</span></a></li>
        </ul>
    </div>
<p>You can create and edit notes. After that its will be encrypted and saved in the database</p>

<div class="form-group">
    @using (Html.BeginForm("NoteSearch", "Notes", FormMethod.Post))
    {
        <input class="form-control" style="float: left;" type="text" name="searchCondition" />
        <input class="btn btn-info" style="margin-left: 10px;" type="submit" value="Search" />
        <span class="pull-right" style="margin-right: 5px;">
            @Html.ActionLink("Account", "../Users/Details", null, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("LogOut", "../Users/LogOut", null, new { @class = "btn btn-primary" })
        </span>
        <div class="text-danger" style="font-size: 20px; float: right; margin-right: 50px;">@ViewBag.NoteNotFound</div>
    }
</div>

<p>
    @Html.ActionLink("Create New Note", "Create", null, new { @class = "btn btn-success" })
</p>
    <table class="table indexelements">
        <thead>
            <tr>
                <th scope="col">Created/Edited</th>
                <th scope="col">Owner</th>
                <th scope="col">Title</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td width="15%">
                    @Html.DisplayFor(modelItem => item.Created_Edited)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => item.NameAuthor)
                </td>
                <td width="40%">
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                <td width="17.4%">
                    @Html.ActionLink("Open", "Details", new { id = item.NoteId }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.NoteId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.NoteId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

